* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #2d2834; */
  background: #ffffff;
  color: #000000;
}

/* reset.css */

/* Remove all margins and paddings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset font styles and sizes */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset list styles */
ol,
ul {
  list-style: none;
}

.accessible-text,
.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  top: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  width: min(1210px, 100%);
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.invisibleLabel {
  font-size: 0px;
  text-indent: -9999em;
  display: none;
}

.hide-field {
  display: none;
}
